body {
    background-color: rgb(209, 209, 209) ;
}

.one {
    background: rgb(112, 112, 112);
    width: auto;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.two {
    background: white;
    width: 650px;
    height: 650px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.three {
    background: black;
    width: 650px;
    height: 150px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}